.take_action_container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #e1faff;
}

.top_container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.grid_container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  padding: 20px;
}

.TA_title {
  justify-self: start;
  color: #3686ff;
  margin: 30px 0;
}

.margin_container {
  margin: 10px 40px;
}

.bot_action_card_container {
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin: 40px 0;
}

.bottom {
  position: relative;
  margin-top: 200px;
}

@media only screen and (min-width: 1100px) {
  .top_container {
    flex-direction: row;
  }
  .bot_action_card_container {
    flex-direction: row;
  }
}
