footer {
  background-color: #0f43a4;
  min-height: 600px;
  padding: 100px 50px 50px;
}

.anker {
  display: flex;
  width: 79px;
  height: auto;
  padding-top: 46px;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  gap: 23px;
  flex-shrink: 0;
}

.backTop {
  margin: auto;
  margin-bottom: 50px;
  display: flex;
  width: 358px;
  height: 249px;
  padding-top: 46px;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  gap: 15px;
  flex-shrink: 0;
  cursor: pointer;
}

.backTop:hover {
  filter: brightness(0.9);
}

.SoMe {
  display: flex;
  margin-top: 50px;
  justify-content: flex-start;
  gap: 23px;
}

.SoMe img {
  max-width: 100px;
  width: auto;
}

.unIcons {
  display: flex;
  justify-content: flex-end;
  gap: 23px;
  flex-wrap: wrap;
}

.unIcons img {
  max-width: 216px;
  width: auto;
}
