header {
  min-height: 100vh;
  background-color: #e1faff;
  padding: 70px 50px;
  position: relative;
}

img {
  width: 100%;
  display: block;
}

.navigation {
  display: flex;
  gap: 30px;
  justify-content: end;
}

.burgermenu {
  background-color: #3686ff;
  width: 50px;
  height: 50px;
  padding: 12.5px;
  border-radius: 15px;
}

.logo {
  display: flex;
  justify-content: center;
}

.seayoulogo {
  width: 50%;
  position: absolute;
  top: 37%;
  display: flex;
}

.custom-button {
  display: none;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  z-index: 2000;
}

.diveinimage {
  width: 100px;
  height: 100px;
  position: absolute;
  bottom: 120px;
}

.wavewave {
  display: none;
}

.liberty {
  position: absolute;
  left: -50px;
  top: 50px;
  width: 50%;
  animation: flyd 6s linear infinite;
}

.eiffeltower {
  position: absolute;
  right: 0px;
  top: 50px;
  width: 50%;
  animation: flyd 6s linear infinite;
}

@keyframes flyd {
  0% {
    transform: translateY(-50px);
  }
  50% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(-50px);
  }
}
