.heyyou {
  max-width: 910px;
  height: fit-content;
  background-color: var(--primary);
  padding: 5rem 88px;
  border-radius: 14px;
}

.heyyou-h {
  text-align: center;
  padding-bottom: 1rem;
  clear: both;
  color: #fff;
}

.heyyoutext {
  padding: 8rem 0;
}

.exit {
  width: 48px;
  height: 48px;
  float: right;
}
