.heyyou {
  max-width: 910px;
  background-color: var(--primary);
  padding: 5rem 88px;
  border-radius: 14px;
  position: absolute;
  top: -100%;
  left: 50%;
  transform: translateX(-50%);
  transition: top 0.5s ease-in-out;
  z-index: 1000;
}

.popup-slide-in {
  top: 2%;
}

.heyyou-h {
  text-align: center;
  padding-bottom: 1rem;
  color: #fff;
}

.heyyoutext {
  padding: 8rem 0;
}

.exit {
  width: 48px;
  height: 48px;
  float: right;
  cursor: pointer;
}

.exit:hover {
  filter: brightness(0.9);
}

.Toggle {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (max-width: 1000px) {
  .heyyou {
    width: 95%;
    padding: 4rem 40px;
  }

  .heyyoutext {
    padding: 3rem 0;
  }
}
