.interface {
  width: 100%;
  min-height: 100vh;
  height: auto;
  background: rgb(54, 134, 255);
  background: linear-gradient(
    90deg,
    rgba(54, 134, 255, 1) 0%,
    rgba(103, 161, 202, 1) 100%,
    rgba(0, 212, 255, 1) 100%
  );
  padding: 3rem 5rem;
  position: absolute;
  top: 0;
  z-index: 1000;
}

.chooseamonument {
  padding-top: 3rem;
  color: #fff;
  text-align: center;
}

.interfacebutton {
  width: 319px;
  height: 280px;
  margin-bottom: 2rem;
  cursor: pointer;
}

.interfacebutton:hover {
  filter: brightness(0.9);
}

.interfaceexit {
  width: 48px;
  height: 48px;
  float: right;
}

.interfaceexit:hover {
  filter: brightness(0.9);
}

.interface_grid {
  max-width: 1040px;
  display: flex;
  align-self: center;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 20px;
  margin: 40px 50px;
  margin-inline: auto;
}
