.wrapper.grayscale {
  filter: grayscale(1);
}

.wrapper.normal {
  filter: grayscale(0);
}

.toggle-switch {
  width: 58px;
  height: 37px;
  background-color: var(--primary);
  border-radius: 20px;
  position: relative;

  cursor: pointer;
  transition: background-color 0.3s ease;
  z-index: 100;
  display: flex;
  align-self: center;
}

.toggle-switch:hover {
  background-color: var(--primaryhover);
}

.switch-circle {
  width: 28px;
  height: 28px;
  background-color: white;
  border-radius: 50%;
  position: absolute;
  top: 4.5px;
  left: 4px;
  transition: transform 0.3s ease;
}

.switch-circle.on {
  transform: translateX(0);
}

.switch-circle.off {
  transform: translateX(20px);
}
