.wave4 {
  background-image: url(../../public/wave4.png);
  height: 116px;
  position: absolute;
  right: 0;
  bottom: 0;
  width: 100%;
}

.wave4#wave1 {
  z-index: 1000;
  opacity: 1;
  animation: animate 4s linear infinite;
}

.wave4#wave2 {
  z-index: 998;
  opacity: 0.5;
  animation: animate2 4s linear infinite;
}

.wave4#wave3 {
  z-index: 999;
  opacity: 0.2;
  animation: animate 3s linear infinite;
}

.wave4#wave4 {
  z-index: 999;
  opacity: 0.7;
  animation: animate2 3s linear infinite;
}

@keyframes animate {
  0% {
    background-position: 1000px;
  }
  100% {
    background-position: 0;
  }
}

@keyframes animate2 {
  0% {
    background-position: 0;
  }
  100% {
    background-position: 1000px;
  }
}
