.whatyoucando {
  background-color: var(--color4);
  padding: 7rem 0;
  position: relative;
}

.fist {
  width: 178px;
  height: 178px;
  margin: 0 auto;
  margin-bottom: 2rem;
  animation: flyinleft 0.7s linear;
}

.megaphone {
  width: 201px;
  height: 201px;
  margin: 0 auto;
  margin-bottom: 1rem;
  animation: flyinright 0.7s linear;
}

.whatyoucando-h {
  text-align: center;
  margin-bottom: 4rem;
}

.personal-action,
.political-action {
  max-width: 346px;
  margin: 0 auto;
  padding-bottom: 7rem;
}

@keyframes flyinleft {
  0% {
    transform: translateX(-1000px);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes flyinright {
  0% {
    transform: translateX(1000px);
  }
  100% {
    transform: translateX(0);
  }
}

@media only screen and (min-width: 1100px) {
  .whatyoucando-grid {
    max-width: 1000px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 50px;
  }
}
