.whyyoushouldcare {
  background-color: var(--color3);
  padding: 200px 50px;
}

.whyyoushouldcare-h {
  text-align: center;
}

.seventyprocent {
  font-size: 22rem;
  font-family: "Lilita One", sans-serif;
  display: flex;
  align-self: center;
}

@media only screen and (min-width: 1100px) {
  .procentgrid {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 50px;
    margin-top: 100px;
  }
}
